---
layout: base.njk
lang: en
permalink: /en/admin/
title: "Admin | YOGA BIBLE"
description: "Administration panel for Yoga Bible."
includeAdminCSS: true
includeStoreCSS: true
---
{% include "pages/admin.njk" %}
