---
layout: base.njk
lang: en
title: "Code of Conduct | YOGA BIBLE"
description: "Code of Conduct for Yoga Bible. Professional standards for participants, students, teachers, and collaborators."
includeScheduleModal: false
permalink: /en/code-of-conduct/
---
{% include "pages/code_of_conduct.njk" %}
