---
layout: base.njk
lang: en
title: "Contact Yoga Bible | YOGA BIBLE"
description: "Contact Yoga Bible in Copenhagen. Write to us about trainings, courses, collaborations, or general inquiries. We are always here to answer your questions."
includeScheduleModal: false
permalink: /en/kontakt/
---
{% include "pages/kontakt.njk" %}
