---
layout: base.njk
lang: da
permalink: /admin/
title: "Admin | YOGA BIBLE"
description: "Administrationspanel for Yoga Bible."
includeAdminCSS: true
includeStoreCSS: true
---
{% include "pages/admin.njk" %}
