---
layout: base.njk
lang: da
needsFirebase: true
title: "Live Streaming | YOGA BIBLE"
description: "Se Yoga Bible live fra København. Livestreaming af yogaklasser, workshops og events direkte fra vores studie."
includeScheduleModal: false
---
{% include "pages/live.njk" %}
