---
layout: base.njk
lang: da
title: "Mentorship & Privatundervisning | YOGA BIBLE"
description: "Personlige 1:1-mentorforløb skræddersyet til dine yoga- og undervisningsmål. Praksis, yoga business coaching og avanceret træning hos Yoga Bible i København."
includeScheduleModal: false
---
{% include "pages/mentorship.njk" %}
