---
layout: base.njk
lang: da
needsCheckout: true
needsFirebase: true
includeStore: true
includeAdmin: true
title: "Min Profil | YOGA BIBLE"
description: "Administrer din Yoga Bible konto, opdater dine oplysninger og se dit medlemskab."
---
{% include "pages/profile.njk" %}
