---
layout: base.njk
lang: da
needsCheckout: true
title: "Skema Design Samples | YOGA BIBLE"
description: "5 design variationer for YTT uddannelsesskemaet."
permalink: /schedule-samples/
includeScheduleModal: false
eleventyExcludeFromCollections: true
---
{% include "pages/schedule-samples.njk" %}
