---
layout: base.njk
lang: da
needsFirebase: true
title: "Underviserstudio | YOGA BIBLE"
description: "Stream live fra din egen computer. Underviserstudio til Yoga Bible undervisere."
includeScheduleModal: false
---
{% include "pages/teacher-studio.njk" %}
