---
layout: base.njk
lang: da
needsCheckout: true
title: "Ugentligt Klasseskema | YOGA BIBLE"
description: "Se vores ugentlige yogaklasser og book din plads. For elever på yogalæreruddannelsen, kursister og bundle-deltagere. Alle niveauer velkomne."
includeScheduleModal: false
---
{% include "pages/weekly_schedule.njk" %}
